@model WCMS.WebSystem.WebParts.G2.ViewComponents.SiteListViewModel
<div class="wcms-site-list" data-object-id="@Model.ObjectId">
    @if (Model.Sites.Count == 0)
    {
        <p class="text-muted">No sites to display.</p>
    }
    else
    {
        <div class="row">
            @foreach (var site in Model.Sites)
            {
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="card h-100">
                        @if (!string.IsNullOrEmpty(site.ThumbnailUrl))
                        {
                            <img src="@site.ThumbnailUrl" alt="@site.Name" class="card-img-top" loading="lazy" />
                        }
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="@site.Url">@site.Name</a>
                            </h5>
                            @if (!string.IsNullOrEmpty(site.Description))
                            {
                                <p class="card-text text-muted">@site.Description</p>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
