@model WCMS.WebSystem.ViewComponents.NavigationViewModel
@if (Model.Items.Count > 0)
{
    <nav class="Menu">
        <ul class="Menu @(Model.IsHorizontal ? "Horizontal" : "Vertical")">
            @foreach (var item in Model.Items)
            {
                var hasChildren = item.Children != null && item.Children.Count > 0;
                <li class="StaticMenuItem @(hasChildren ? "has-submenu" : "")">
                    @if (hasChildren)
                    {
                        <a href="@item.NavigateUrl" target="@item.Target">@item.Text</a>
                        <ul class="DynamicMenu">
                            @foreach (var child in item.Children)
                            {
                                <li class="DynamicMenuItem">
                                    <a href="@child.NavigateUrl" target="@child.Target">@child.Text</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <a href="@item.NavigateUrl" target="@item.Target">@item.Text</a>
                    }
                </li>
            }
        </ul>
    </nav>
}
