@model WCMS.WebSystem.WebParts.ViewComponents.SearchViewModel
<form method="get" action="@Model.BasePath">
    <table cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td>
                <input type="text" name="q" value="@Model.Query" style="width: 25em" /></td>
            <td>
                &nbsp;</td>
            <td>
                <button type="submit"> Search </button></td>
        </tr>
        <tr>
            <td align="left" colspan="2">
                <label><input type="radio" name="scope" value="site" checked /> This site only</label>
                <label><input type="radio" name="scope" value="all" /> All sites</label></td>
        </tr>
    </table>
</form>

@if (Model.Results != null)
{
    <div class="search-results">
        @if (Model.Results.Count == 0)
        {
            <p>No results found for &quot;@Model.Query&quot;.</p>
        }
        else
        {
            <p>@Model.Results.Count result(s) for &quot;@Model.Query&quot;</p>
            @foreach (var item in Model.Results)
            {
                <div class="search-result-item">
                    <h4><a href="@item.Url">@item.Title</a></h4>
                    @if (!string.IsNullOrEmpty(item.Description))
                    {
                        <p>@item.Description</p>
                    }
                </div>
            }
        }
    </div>
}
