@model WCMS.WebSystem.WebParts.ViewComponents.ArticleMultipleMultiFrontnewsViewModel
@* Ported from FrontNews.ascx (Article/Templates/Multiple). *@

<div class="article-template article-multi-frontnews d-flex gap-3 mb-3" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
    @if (!string.IsNullOrEmpty(Model.ImageHtml))
    {
        <div class="flex-shrink-0">
            @Html.Raw(Model.ImageHtml)
        </div>
    }
    <div class="flex-grow-1">
        <div class="fw-bold">
            @Html.Raw(Model.TitleHtml)
        </div>
        <div>
            @Html.Raw(Model.DescriptionHtml)
        </div>
        <div class="text-end">
            @Html.Raw(Model.LinkHtml)
        </div>
    </div>
</div>