@model WCMS.WebSystem.WebParts.ViewComponents.FullviewViewModel
@* Ported from FullView.ascx. *@

<div class="component-fullview">
    @Html.Raw(Model.LCategoryHtml)
    @Html.Raw(Model.LThumbsHtml)
    @Html.Raw(Model.LNumsHtml)
    @Html.Raw(Model.LPrevHtml)
    @Html.Raw(Model.LNextHtml)
</div>