@model WCMS.WebSystem.WebParts.ViewComponents.ArticleMultipleMultiBasicViewModel
@* Ported from Basic.ascx (Article/Templates/Multiple). *@

<div class="article-template article-multi-basic mb-3" data-object-id="@Model.ObjectId" data-record-id="@Model.RecordId">
    <div class="fw-bold">
        @Html.Raw(Model.TitleHtml)
    </div>
    <div>
        @Html.Raw(Model.LinkHtml)
    </div>
    <div class="text-muted small">
        @Html.Raw(Model.DateHtml)
    </div>
    <div>
        @Html.Raw(Model.DescriptionHtml)
    </div>
</div>