@model WCMS.WebSystem.WebParts.ViewComponents.FancyboxthumbnailsViewModel
@* Ported from FancyBoxThumbnails.ascx. *@

<div class="component-fancyboxthumbnails">
    @Html.Raw(Model.LCategoryHtml)
    @Html.Raw(Model.LThumbsHtml)
    @Html.Raw(Model.LNumsHtml)
    @Html.Raw(Model.LPrevHtml)
    @Html.Raw(Model.LNextHtml)
</div>