@model WCMS.WebSystem.WebParts.ViewComponents.ThumbnailsViewModel
@* Ported from Thumbnails.ascx. *@

<div class="component-thumbnails">
    @Html.Raw(Model.LCategoryHtml)
    @Html.Raw(Model.LThumbsHtml)
    @Html.Raw(Model.LNumsHtml)
    @Html.Raw(Model.LPrevHtml)
    @Html.Raw(Model.LNextHtml)
</div>