@model WCMS.WebSystem.WebParts.ViewComponents.ArticleComponentModel
@*
    Ported from Article.ascx / Article.ascx.cs
    Original uses template substitution (ListTemplate, ItemTemplate, DetailsTemplate).
    CSS classes preserved from Templates/Multiple/Basic.ascx and Templates/Single/Basic.ascx.
*@
@if (Model.IsDetailView && Model.DetailArticle != null)
{
    @* Single/Basic.ascx detail view pattern *@
    <div class="article-detail">
        <div class="link" style="font-weight: bold">
            <h1>@Model.DetailArticle.Title</h1>
        </div>
        <div class="text12blk article-meta">
            <span class="date">@Model.DetailArticle.Date</span>
            @if (!string.IsNullOrEmpty(Model.DetailArticle.Author))
            {
                <span class="author"> by @Model.DetailArticle.Author</span>
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.DetailArticle.Image))
        {
            <img src="@Model.DetailArticle.Image" alt="@Model.DetailArticle.Title" class="article-image img-fluid" />
        }
        <div class="text12blk article-content">@Html.Raw(Model.DetailArticle.Content)</div>
    </div>
}
else if (Model.Articles != null)
{
    @* Multiple/Basic.ascx list view pattern *@
    <div class="article-list">
        @foreach (var article in Model.Articles)
        {
            <div class="article-item">
                @if (!string.IsNullOrEmpty(article.Image))
                {
                    <img src="@article.Image" alt="@article.Title" class="article-thumbnail img-fluid" />
                }
                <div class="link" style="font-weight: bold">
                    <h3><a href="?ArticleId=@article.Id">@article.Title</a></h3>
                </div>
                <div class="text12blk">
                    <span class="date">@article.Date</span>
                    @if (!string.IsNullOrEmpty(article.Author))
                    {
                        <span class="author"> by @article.Author</span>
                    }
                </div>
                @if (!string.IsNullOrEmpty(article.Description))
                {
                    <div class="article-description">@Html.Raw(article.Description)</div>
                }
            </div>
        }

        @if (Model.TotalItems > Model.PageSize && Model.PageSize > 0)
        {
            var pageCount = (int)Math.Ceiling((double)Model.TotalItems / Model.PageSize);
            <div class="table-pager">
                @for (int i = 1; i <= pageCount; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <span>@i</span>
                    }
                    else
                    {
                        <a href="?ShowP=@i">@i</a>
                    }
                    @:&nbsp;
                }
            </div>
        }
    </div>
}
