@model WCMS.WebSystem.WebParts.ViewComponents.CascadeMenuViewModel
@*
    Ported from Menu/CascadeMenu.ascx
    Original uses asp:Menu with Horizontal orientation.
    CSS classes preserved: Menu, StaticMenuItem, StaticHover, DynamicMenuItem, DynamicMenu, DynamicHover
*@
<nav class="Menu wcms-cascade-menu navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#cascadeMenu-@Model.ObjectId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="cascadeMenu-@Model.ObjectId">
        <ul class="navbar-nav">
            @foreach (var item in Model.Items)
            {
                var hasChildren = item.Children != null && item.Children.Count > 0;
                <li class="nav-item StaticMenuItem @(hasChildren ? "dropdown" : "") @item.CssClass">
                    @if (hasChildren)
                    {
                        <a class="nav-link dropdown-toggle StaticMenuItem" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">@item.Title</a>
                        <ul class="dropdown-menu DynamicMenu">
                            @foreach (var child in item.Children)
                            {
                                <li><a class="dropdown-item DynamicMenuItem" href="@child.Url">@child.Title</a></li>
                            }
                        </ul>
                    }
                    else
                    {
                        <a class="nav-link StaticMenuItem" href="@item.Url">@item.Title</a>
                    }
                </li>
            }
        </ul>
    </div>
</nav>
